/*!
Theme Name: fazendas_nordeste
Theme URI: http://jucamillo.com.br/
Author: JuCamillo Web Co
Author URI: http://jucamillo.com.br/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: fazendas_nordeste
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

fazendas_nordeste is based on JuCamillo

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1280px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}
#content{
    width: 100%;
    overflow: hidden;
}
.vc_section{
	margin: 0 !important;
	padding: 0 !important;
}
.vc_section > .vc_row,
.container{
    width: 1140px !important;
    margin: 0 auto !important;
}
body{
    margin: 0;
    color: #3E413F;
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}

input, button, select, textarea{
    color: #3E413F;
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Arvo', serif;	
}
ul,
ol,
li{
	margin: 0;
	padding: 0;
}
*{
    margin: 0;
    padding: 0;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
	margin: 0 !important;
}
section,
footer,
header{
    float: left;
    width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0 0 15px;
}
.miolo-site > * > section.vc_section {
    padding: 80px 0 !important;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
header .col-xs-12{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .branding{
    width: 220px;
    height: auto;
}

header .branding *,
header .branding{
    display: flex;
}
header .branding a *{
    width: 100%;
    height: auto;
}

header nav.main-navigation ul{
	display: flex;
	align-items: center;
	list-style: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
}
header nav.main-navigation .menu-toggle{
	display: none;
}
body:not(.home) h3 + h1,
h5,
h1, h2, h4{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.6;
}
h1{
    line-height: 1;
    font-size: 56px;
}
h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
}
h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;

}
body:not(.home) h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
}
h3{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #B5C575;
    font-family: 'Arvo', serif; 
}
body:not(.home) h3 + h1,
h2{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #605F54;
    line-height: 1.1;
}
h2 strong{
    color: #94BB4A;
}
body:not(.home) h3 + h1,
h3 + h2{
    margin-top: 10px;
}
.relacionados_imv h2 + p,
h3 + h2 + p{
    font-size: 16px;
    align-items: center;
    font-weight: normal;
    margin-top: 15px !important;
    margin-bottom: 50px !important;
}
#proposta h3 + h2 + p{
    margin-bottom: 0 !important;
}
header a{
    padding: 15px 10px;
    line-height: 1;
}
header .branding a{
    padding: 0;
}
body.home header{
    color: #fff;
}
header nav.main-navigation ul li + li{
    margin-left: 10px;
}
header nav.main-navigation ul li.current-menu-item a,
header nav.main-navigation ul a:hover{
    color: #94BB4A;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit],
.btn,
footer a.btn,
header a.btn{
    color: #fff;
    background: #94BB4A;
    border-radius: 4px;
    padding: 15px 16px 15px 18px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    border:1px solid #94BB4A;
}
.btn:hover,
footer a.btn:hover,
header a.btn:hover{
    color: #94BB4A;
    background: transparent;
}
.btn svg,
.btn i,
footer a.btn i,
header a.btn i{
    font-size: 20px;
    margin-right: 10px;
}
.btn svg *{
    stroke: #fff;
}
.btn *,
footer a.btn *,
header a.btn *{
    color: #fff;    
}
.btn:hover *,
footer a.btn:hover *,
header a.btn:hover *{
    color: #94BB4A;
}
.btn:hover svg *{
    stroke: #94BB4A;
}
header{
    padding: 20px 0;
    border-bottom: 1px solid #C2CF8C;
}
body:not(.home) header{
    position: static;
    border-bottom: 0;
}
.banner-topo{
    padding-top: 115px;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 800px;
    color: #FFF;
}
.banner-topo:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 90.03%, rgba(29, 30, 29, 0) 104.43%);
    opacity: 0.7;
    opacity: 1;
}

.banner-topo .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    height: 685px;
}
.banner-topo h1{
    text-transform: uppercase;
}
.banner-topo h1 strong{
    color:  #94BB4A;
}
.banner-topo p{
    font-weight: 400;
    margin:15px 0 0;
    font-size: 16px;
    color: #FDFFF7;
}


.banner-topo .filtro{
    background: #FFFFFF;
    box-shadow: 4px 14px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 35px 40px;
    transform: translateY(20%);
    opacity: 0;
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
    transition-delay: .8s;
}
.banner-topo .filtro h4{
    color: #504F46
}
.banner-topo .filtro .searchandfilter ul li h4{
    color: #868C88;

}
.banner-topo .titulo{
    transform: translateX(-20%);
    opacity: 0;

    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
}
.banner-topo.active .filtro{
    opacity: 1;
    transform: translateY(0);
}
.banner-topo.active .titulo{
    transform: translateX(0%);
    opacity: 1;
}


.searchandfilter ul li li,
.searchandfilter ul li{
    padding: 0;
    color: #868C88;
}
.searchandfilter ul li h4 {
    font-weight: normal;
    color: #868C88;
    font-size: 14px;
    font-size: 14px;
    padding: 0;
    margin: 0 0 8px;
}
.banner-topo .filtro .searchandfilter > ul > li{
    margin-top: 15px;
}
.banner-topo .filtro .searchandfilter > ul > li.sf-field-sort_order,
.banner-topo .filtro .searchandfilter > ul > li.sf-field-taxonomy-clima,
.banner-topo .filtro .searchandfilter > ul > li.sf-field-taxonomy-topografia{
    display: none;
}


.searchandfilter{
    font-family: 'Arvo', serif; 
}


.searchandfilter ul li ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
}

.searchandfilter ul li ul li > input.sf-input-checkbox{
    display: none;
}
.searchandfilter ul li ul li > label{
    margin: 0;
    padding: 16px;
    cursor: pointer;
    line-height: 1;
    border: 1px solid #B5C575;
    box-sizing: border-box;
    border-radius: 4px;
    color: #504F46;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
}
.searchandfilter ul li ul li > label:before{
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: flex;
    border: 1px solid #C2CF8C;
    box-sizing: border-box;
    border-radius: 2px;
}
.searchandfilter ul li ul li > label:after{
    content: '';
    width: 8px;
    height: 5px;
    position: absolute;
    left: 14px;
    transform: rotate(-45deg);
    display: flex;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 0 0 0 1px;
    border-top: 0;
    border-right: 0;
    top: 20px;
    opacity: 0;
}
.searchandfilter ul li ul li + li{
    margin-left: 24px;
}

.searchandfilter ul li ul li > input:checked + label{
    background: #94BB4A;
    color: #fff;
}
.searchandfilter ul li ul li > input:checked + label:before{
    border-color: #fff;
}
.searchandfilter ul li ul li > input:checked + label:after{
    opacity: 1;
}
.select2-container,
.searchandfilter label,
.searchandfilter select.sf-input-select{
    min-width: 100% !important;
    width: 100% !important;
}
.select2-container--default .select2-selection--single{
    width: 100% !important;
    border-radius: 0 !important;
    border:0 !important;
    border-bottom: 1px solid #C2CF8C !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 39px !important;
    font-weight: 700 !important;
    color: #504F46 !important;
    padding-left: 0 !important;
}
.select2-container .select2-selection--single{
    height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: 2px solid #94BB4A !important;
    border-radius: 0 0 0 2px !important;
    width: 10px !important;
    height: 10px !important;
    transform: rotate(-45deg) !important;
    border-top: 0 !important;
    border-right: 0 !important;
    margin-left: -5px !important;
    margin-top: -7px !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{

    transform: rotate(135deg) !important;
    margin-top: -4px !important;
}
.select2-dropdown{
    border-color: #94BB4A !important;
    font-family: 'Arvo', serif; 
}
.select2-search--dropdown{
    padding: 6px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border-color: #C2CF8C !important;

}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{

    background-color: #94BB4A !important;
}
.searchandfilter .meta-slider, 
.searchandfilter .meta-slider *{
    /* Firefox */
    -moz-transition: all 0s ease;
    /* WebKit */
    -webkit-transition: all 0s ease;
    /* Opera */
    -o-transition: all 0s ease;
    /* Standard */
    transition: all 0s ease;
}
.searchandfilter .meta-slider {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    height: 1px;
    box-shadow: none;
    border: 0 !important;
    background: #e4e4e4;
    border-radius: 10px;
}
.searchandfilter .noUi-connect{
    background: #C2CF8C;
}
.searchandfilter .noUi-horizontal .noUi-handle{
    width: 32px !important;
    height: 32px !important;
    border: 1px solid #94BB4A !important;
    border-radius: 100% !important;
    box-shadow: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    top: -16px !important;
    background: #fff !important;
    cursor: pointer !important;
}
.searchandfilter .noUi-horizontal .noUi-handle:after,
.searchandfilter .noUi-horizontal .noUi-handle:before{
    width: 4px !important;
    border-left: 1px solid #94BB4A !important;
    border-right: 1px solid #94BB4A !important;
    height: 8px !important;
    background: transparent !important;
    position: static !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
}
.searchandfilter .noUi-horizontal .noUi-handle:hover,
.searchandfilter .noUi-horizontal .noUi-handle:active{
    background: #94BB4A !important;
}
.searchandfilter .noUi-horizontal .noUi-handle:hover::before,
.searchandfilter .noUi-horizontal .noUi-handle:active::before,
.searchandfilter .noUi-horizontal .noUi-handle:hover::after,
.searchandfilter .noUi-horizontal .noUi-handle:active::after{
    border-color: #fff !important;
}
.searchandfilter .noUi-horizontal .noUi-handle:after{
    border-left: 0 !important;
}
.searchandfilter ul li .sf-meta-range.sf-meta-range-slider{
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: wrap;
}
.searchandfilter ul li .sf-meta-range.sf-meta-range-slider > *{
    margin:0 2px;
    color: #504F46;
    font-size: 12px;
}
.searchandfilter ul li .sf-meta-range.sf-meta-range-slider .sf-text-number{
    width: 15px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.searchandfilter ul li .sf-meta-range.sf-meta-range-slider .sf-range-postfix{
    width: 57px;
}
.searchandfilter ul li .sf-meta-range.sf-meta-range-slider .sf-range-values-seperator{
    width: calc(100% - 164px);
}
.searchandfilter ul li .sf-meta-range.sf-meta-range-slider .meta-slider.noUi-target.noUi-ltr.noUi-horizontal {
    width: 100% !important;
    margin-top: 25px !important;
    margin-bottom: 20px !important;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
    right: -32px;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-origin + .noUi-origin .noUi-handle {
    right: 0;
}
.searchandfilter > ul > li.sf-field-submit input{
    background: #51723D;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 23px 15px;
    width: 100%;
    cursor: pointer;
    border:1px solid #51723D;
    
}
.searchandfilter > ul > li.sf-field-submit input:hover{
    background: transparent;
    color: #51723D;
}
ul.tipos_imovel{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
ul.tipos_imovel li{
    margin-right: 30px;
    width: calc(33.333333333% - 20px);
}
ul.tipos_imovel li:nth-child(3n){
    margin-right: 0;
}
ul.tipos_imovel li a{
    position: relative;
    width: 100%;
    height: 350px;
    float: left;
    overflow: hidden;
    border-radius: 4px;
}

ul.tipos_imovel li a .info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
ul.tipos_imovel li a .img{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;

}
ul.tipos_imovel li a:hover .img{
    transform: scale(1.08) rotate(1deg);
}
ul.tipos_imovel li a .up{
    max-width: 180px;
    width: 100%;
    padding: 20px 30px;
    height: 70px;
    border-bottom: 1px solid #C2CF8C;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
ul.tipos_imovel li a h4{
    width: 100%;
    padding: 0 30px 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ul.tipos_imovel li a h4 span{
    margin-right: 15px;
}
ul.tipos_imovel li a:hover h4 span{
    margin-right: 25px;
}

ul.imoveis-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}
ul.imoveis-list .owl-item > li,
ul.imoveis-list > li{
    margin-right: 30px;
    width: calc(33.333333333% - 20px);
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
}
ul.imoveis-list .owl-item > li > a,
ul.imoveis-list > li > a{
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    margin: 1px;

}
ul.imoveis-list .owl-item > li{
    width: 100%;
}
ul.imoveis-list > li:nth-child(3n){
    margin-right: 0;
}

ul.imoveis-list li ul{
    list-style: none;
    display: flex;
    flex-flow: column;
}

ul.regioes-list li a .img,
ul.imoveis-list li .img{
    width: 100%;
    float: left;
    padding-top: 70%;
    border-radius: 8px 8px 0px 0px;
    position: relative;
    overflow: hidden;
}
ul.regioes-list li a .img .im,
ul.imoveis-list li .img .im{
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
ul.regioes-list li a:hover .img .im,
ul.imoveis-list li  a:hover .img .im{
    transform: scale(1.08) rotate(1deg);
}
ul.regioes-list li .img:before,
ul.imoveis-list li .img:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(62, 65, 63, 0.025) 50%);
}
ul.regioes-list li .img:before{
    background: linear-gradient(0deg, rgba(62, 65, 63, 0.6), rgba(62, 65, 63, 0.6));
}


ul.imoveis-list li .img span.tipo{
    position: absolute;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px 10px 10px 30px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    border-bottom: 1px solid #C2CF8C;
    color: #FDFFF7;
    z-index: 3;
    top: 0;
    left: 0;
}
ul.imoveis-list li .info{
    padding: 20px 30px 30px;
    float: left;
    width: 100%;
}
ul.imoveis-list li .info h4{
    color:  #605F54;
}
ul.imoveis-list li a.info ul.infos{
    list-style: none;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}
ul.imoveis-list li .info ul.infos li{
    display: flex;
    align-items: center;
    position: relative;
    min-height: 35px;
    padding-left: 40px;
    margin-top: 10px;
}
ul.imoveis-list li .info ul.infos li + li{
    margin-top: 15px;

}
ul.imoveis-list li .info ul.infos li svg,
ul.imoveis-list li .info ul.infos li img{
    position: absolute;
    left: 0;
}

.single-info-imovel article ul.infos li span,
ul.imoveis-list li .info ul.infos li span{
    display: flex;
    flex-flow: column;
    line-height: 1.4;
}
.single-info-imovel article ul.infos li span small,
ul.imoveis-list li .info ul.infos li span small{
    color: #868C88;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.single-info-imovel article ul.infos li span strong,
ul.imoveis-list li .info ul.infos li span strong{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Arvo', serif; 
}
ul.imoveis-list li a {
    display: flex;
    flex-flow: column;
    width: 100%;
}
#proposta .vc_row .vc_row{
    display: flex;
    flex-flow: wrap;
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}
#proposta .vc_row .vc_row > *{
    margin-top: 15px;
    margin-bottom: 15px;
}
#proposta .vc_row .vc_row > * > * > *,
#proposta .vc_row .vc_row > * > *,
#proposta .vc_row .vc_row > *{
    display: flex;
}

#proposta .vc_row .vc_row .wpb_text_column{
    background: #FFFFFF;
    border-radius: 4px;
    padding: 30px;
}
#proposta .vc_row .vc_row .wpb_text_column h4{
    padding:30px 30px 20px;
    margin-bottom: 30px;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}
#proposta .vc_row .vc_row .wpb_text_column h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 110px;
    border-bottom: 1px solid #C2CF8C;

}
footer .cotacao{
    background: #3E413F;
}
footer a:hover{
    opacity: .6;
}
footer a.btn:hover{
    opacity: 1;
}
footer .cotacao .container{
    display: flex;
    flex-flow: wrap;
}
footer .cotacao .owl-dots.disabled {
    display: none !important;
}
footer .cotacao h4{
    color: #FFFFFF;
    line-height: 1.2;
    padding: 20px 0;
}
footer .cotacao h4 small{
    font-weight: normal;
    font-size: 18px;
    color: #B5C575;

}
footer .cotacao .titulo{
    background: #272A29;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .cotacao .titulo + *{
    padding-left: 0;
}
footer .cotacao .cot{
    height: 105px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    border-left: 1px solid #272A29;
    padding: 0 50px;
}
footer .cotacao .cot h5{
    color: #FDFFF7;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 5px;
    padding: 0;
}
footer .cotacao .cot span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    color: #868C88;
}
footer .cotacao .cot span small{
    font-size: 14px;
    color: #B5C575;
}
footer .cotacao .cot span small.uppos:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #93bb4a transparent;
    margin-left: 10px;
    display: inline-block;
}
footer .cotacao .cot span small.downpos:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #ff2433 transparent transparent transparent;
    margin-left: 10px;
    display: inline-block;
}
footer .rodape{
    padding: 80px 0;
}
footer .rodape .custom-logo-link{
    width: 235px;
    height: 80px;
    display: flex;
    margin: 0 0 30px;
}
footer .rodape .custom-logo-link *{
    max-width: 100%;
    height: auto;
}
footer .rodape h4{
    font-size: 18px;
    margin: 0 0 25px;
}
footer a.btn{
    float: left;
    width: auto;
}
footer .rodape ul{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    color: #94BB4A;
}
footer .rodape ul.social{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
}
footer .rodape ul.social li + li{
    margin-left: 10px;
}
footer .rodape ul.menu li + li{
    margin-top: 25px;
}
footer .rodape ul.social a{
    padding: 5px;
}
.vc_btn3-container{
    margin: 0 !important;
}
.vc_btn3-container > *{
    border: 1px solid #51723D !important;
    border-radius: 4px !important;
    font-family: Poppins !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 1.6 !important;
    color: #51723D !important;
    background: transparent !important;
    padding: 16px 25px !important;
    min-width: 380px !important;
    text-align: center !important;
    text-transform: uppercase !important;
}
.vc_btn3-container > *:hover{
    background: #51723D !important;
    color: #fff !important;
}

.filtro-sec{
    background: #F3F3F3;
}
.sec-imoveis.regiao .select2-container--default .select2-selection--single,
.filtro-sec .select2-container--default .select2-selection--single{
    background: #F3F3F3 !important;

}
.filtro-sec .searchandfilter > ul{
    flex-flow: wrap;
    display: flex;
    justify-content: center;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}

.filtro-sec .searchandfilter > ul > li{
    width: calc(32.5% - 110px);
    padding: 0 15px;
}
.filtro-sec .searchandfilter > ul > li:nth-child(1),
.filtro-sec .searchandfilter > ul > li:nth-child(5){
    width: 35%;
}
.filtro-sec .searchandfilter ul li ul li + li {
    margin-left: 12px;
}
.filtro-sec .searchandfilter > ul > li:nth-child(4),
.filtro-sec .searchandfilter > ul > li.sf-field-submit {
    width: 220px;
}
.filtro-sec .searchandfilter > ul > li.sf-field-submit {
    display: flex;
    align-items: center;

}
.filtro-sec .searchandfilter > ul > li.sf-field-submit input{
    border-color: #B5C575;
    color: #94BB4A;
    background: transparent;
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    padding: 17px 15px;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.filtro-sec .searchandfilter > ul > li.sf-field-submit input:hover{
    background-color: #94BB4A;
    color: #fff;
}
.filtro-sec .searchandfilter ul li .sf-meta-range.sf-meta-range-slider .meta-slider.noUi-target.noUi-ltr.noUi-horizontal{
    margin-top: 15px !important;
}



.filtro-sec .searchandfilter > ul > li:nth-child(1),
.filtro-sec .searchandfilter > ul > li:nth-child(2),
.filtro-sec .searchandfilter > ul > li:nth-child(3),
.filtro-sec .searchandfilter > ul > li:nth-child(4){
    border-bottom: 1px solid rgba(96, 95, 84, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}
.filtro-sec .searchandfilter > ul > li + li{
    border-left: 1px solid rgba(96, 95, 84, 0.1);
}
.filtro-sec .searchandfilter > ul > li:nth-child(5){
    border-left: 0;
}

.filtro-sec .searchandfilter > ul > li:nth-child(5),
.filtro-sec .searchandfilter > ul > li:nth-child(6),
.filtro-sec .searchandfilter > ul > li:nth-child(7),
.filtro-sec .searchandfilter > ul > li:nth-child(8){
    padding-top: 20px;
    padding-bottom: 15px;
}


.sec-imoveis{
    padding: 80px 0;
}
.sec-imoveis.regiao{

background: #F3F3F3;
}
.sec-imoveis ul.imoveis-list{
    margin-top: 50px;
}

.galeria-single {
    display: flex;
    flex-flow: row;
}
.galeria-single.mobile-gal{
    display: none;
}
.galeria-single .main-image{
    width: 42%;
    float: left;
    display: flex;
}
.galeria-single .main-image.full{
    width: 100%;
    flex-flow: column;
    position: relative;
}
.galeria-single .main-image.full .titulo-sing{
    position: absolute;
    bottom: 40px;
    width: 100%;
}

.galeria-single .main-image.full .titulo-sing h3{
color: #B5C575;

}
.galeria-single .main-image.full .titulo-sing h1{
    color: #fff;
}
.galeria-single .main-image.full .img{
    padding-top: 30%;
    position: relative;
}
body.single-regiao .galeria-single .main-image.full .img:before{
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(62, 65, 63, 0.6), rgba(62, 65, 63, 0.6));
    position: absolute;
}
.galeria-single .img{
    float: left;
    width: 100%;
    padding-top: 55%;
    background-size: cover;
    background-position: center;
}
.galeria-single .main-image .img{
    position: relative;
    padding-top: 0;
}
.galeria-single .main-image .btn{
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.galeria-single .main-image .btn:hover{
    background: rgba(0,0,0,.7);
}
.galeria-single ul{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    float: left;
    width: 58%;
}
.galeria-single ul li{
    width: 50%;
    float: left;
}
.galeria-single ul li:nth-child(n+5) {
    display: none;
}


.single-info-imovel aside *{

    /* Firefox */
    -moz-transition: all 0s ease;
    /* WebKit */
    -webkit-transition: all 0s ease;
    /* Opera */
    -o-transition: all 0s ease;
    /* Standard */
    transition: all 0s ease;
}

.single-info-imovel{
    background: #f3f3f3;
}
.single-info-imovel #trigger1{
    width: 100%;
    display: block;
    margin-top: -140px;

}

.single-info-imovel .formulario{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    padding: 25px 40px;
    margin-top: 70px;
    color: #504F46;
}
.single-info-imovel .formulario h4{
    margin: 0 0 10px;
}
.wpcf7 .label,
.wpcf7 label button,
.wpcf7 label > span,
.wpcf7 label{
    float: left;
    width: 100%;
}
.wpcf7 .col{
    width: calc(50% - 15px);
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}
.wpcf7 .col + .col{
    margin-left: 30px;
}
.wpcf7 br{
    display: none;
}
.wpcf7 .label,
.wpcf7 label{
    margin-top: 10px;
}
.wpcf7 label:first-child{
    margin-top: 0;
}
.wpuf-form-add ul.wpuf-form li .wpuf-fields textarea,
.wpcf7 .label span textarea,
.wpcf7 label span textarea,
ul.wpuf-form.form-label-above li .wpuf-fields input,
.wpcf7 .label span input,
.wpcf7 label span input{
    border:0 !important;
    height: 40px !important;
    border-bottom: 1px solid #C2CF8C !important;
    width: 100% !important;
    padding: 0 !important;;
    color: #504F46 !important;
    box-shadow: none !important;
    background: transparent !important;
}
.wpuf-form-add ul.wpuf-form li .wpuf-fields textarea,
.wpcf7 .label span textarea,
.wpcf7 label span textarea{
    border: 1px solid #B5C575 !important;
    border-radius: 4px !important;
    height: 120px !important;
    padding: 10px !important;
    margin-top: 5px !important;
}

ul.wpuf-form.form-label-above li .wpuf-label ,
.wpcf7 .label > span:nth-child(1),
.wpcf7 label > span:nth-child(1){
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: #868C88 !important;
    text-transform: none !important;
}
ul.wpuf-form li .wpuf-fields .wpuf-error-msg,
ul.wpuf-form li .wpuf-fields .wpuf-help,
ul.wpuf-form.form-label-above li .wpuf-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 !important;
}
ul.wpuf-form li .wpuf-fields .wpuf-help{
    width: 100% !important;
    color: #868C88 !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li + .wpuf-errors{
    margin-top: 10px;
}

ul.wpuf-form li .wpuf-fields *::-webkit-input-placeholder,
.wpcf7 *::-webkit-input-placeholder { 
    color: #504F46;
}
ul.wpuf-form li .wpuf-fields *::-moz-placeholder,
.wpcf7 *::-moz-placeholder { 
    color: #504F46;
}
ul.wpuf-form li .wpuf-fields *:-ms-input-placeholder,
.wpcf7 *:-ms-input-placeholder { 
    color: #504F46;
}
ul.wpuf-form li .wpuf-fields *:-moz-placeholder,
.wpcf7 *:-moz-placeholder { 
    color: #504F46;
}

.wpcf7 .label label.dateInput-btn {
    padding: 12px 18px;
    width: 100%;
    border: 1px solid #B5C575;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 10px 0 0;
    background: transparent;
    cursor: pointer;
    line-height: 1;
}
.wpcf7 .label label.dateInput-btn:hover{
    background: #B5C575;
    color: #fff;
}
.wpcf7 .label label.dateInput-btn span{
    margin-left: 10px;
    color: #504F46;
}
.wpcf7 .label label.dateInput-btn:hover span{
    color: #fff;
}
 .wpcf7 .label label.dateInput-btn:hover svg *{
    stroke: #fff;
}
.wpcf7 p{
    margin: 0;
}

.wpcf7 .label span.wpcf7-list-item{
    margin: 0 0 20px !important;
    width: 100%;
    float: left;
}
.wpcf7 .label span.wpcf7-list-item label{
    display: flex;
    align-items: center;
    width: 100%;
}
.wpcf7 .label span.wpcf7-list-item label input{
    display: none;
}
.wpcf7 .label span.wpcf7-list-item label input + span{
    display: flex;
    align-items: flex-start;
    width: 100%;
    position: relative;
font-weight: bold;
font-size: 12px;
color: #504F46;
}
.wpcf7 .label span.wpcf7-list-item label input + span i{
    font-style: normal;
}
.wpcf7 .label span.wpcf7-list-item label input + span a{
    margin-left: 5px;
}
.wpcf7 .label span.wpcf7-list-item label input + span:before{
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #C2CF8C;
    box-sizing: border-box;
    border-radius: 2px;
}
.wpcf7 .label span.wpcf7-list-item label input + span:after{
    opacity: 0;
    content: '';
    width: 8px;
    height: 4px;
    transform: rotate(-45deg);
    border: 1px solid #fff;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 0px;
    position: absolute;
    left: 3px;
    top: 4px;

}
.wpcf7 .label span.wpcf7-list-item label input:checked + span:before{
    background: #C2CF8C;
}

.wpcf7 .label span.wpcf7-list-item label input:checked + span:after{
    opacity: 1;
}
.wpcf7,
.wpcf7 p{
    float: left;
    width: 100%;
    position: relative;
}
.wpcf7 p .ajax-loader{
    position: absolute;
    right: 10px;
    top: 20px;
    margin: 0;
}
.single-info-imovel .formulario a{
    text-decoration: underline;
    color: #94BB4A;
}
.single-info-imovel .formulario a:hover{
    text-decoration: none;
}

.wpcf7 .wpcf7-submit{
    width: 100%;
    border:1px solid #51723D ;
    background: #51723D;
    border-radius: 4px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #FDFFF7;
    cursor: pointer;
    padding: 23px 20px;
}
.wpcf7 .wpcf7-submit:hover{
    background: transparent;
    color:  #51723D;
}
.single-info-imovel .formulario .wpcf7{
    margin-bottom: 15px;
}
.wpcf7 form .wpcf7-response-output{
    margin: 15px 0 0 0;
    border-width: 1px;
    float: left;
    width: 100%;
    line-height: 1.4;
    padding: 5px 10px;
}
.single-info-imovel article{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column;
}
.single-info-imovel article h5.tipo{
    position: relative;
    margin-bottom: 20px;

}
.single-info-imovel article h5.tipo span{
    width: auto;
    float: left;
    padding-bottom: 5px;
    border-bottom:  1px solid #C2CF8C;
}
.single-info-imovel article h5.tipo:before{
    content: '';
    border-bottom:  1px solid #C2CF8C;
    transform: translateX(-100%);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
}
.single-info-imovel article h4.valor{
    color: #B5C575;
    margin-top: 10px;
}


.single-info-imovel article h5.carac{
    margin-top: 30px;
}
.single-info-imovel article div.info,
.single-info-imovel article ul.infos{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(96, 95, 84, 0.1);
}
.single-info-imovel article ul.infos{
    align-items: flex-start;
}
.single-info-imovel article ul.infos svg{
    height: 24px;
}
.single-info-imovel article div.info{
    display: block;
    margin-top: 30px;
    padding-bottom: 30px;
}
.single-info-imovel article div.info p:last-child{
    margin: 0;
}
.single-info-imovel article ul.infos li{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-flow: column;
    margin-top: 10px;
}
.single-info-imovel article div.info ul.infos{
    border:0;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}
.single-info-imovel article ul.infos li + li{
    margin-left: 30px;
}
.single-info-imovel article div.info ul.infos li.area{
    margin: 0 0 20px;
    width: 100%;
}
.single-info-imovel article div.info ul.infos li:nth-child(2){
    margin: 0;
    width: 45%;

}
.single-info-imovel article div.info ul.infos li:nth-child(3){
    margin: 0;
    padding-left: 20px;
    width: 55%;
}
.single-info-imovel article ul.infos li.area{
    width: 100%;
    margin-left: 0px;
}

.single-info-imovel article ul.infos li span small,
.single-info-imovel article ul.infos li span strong{
    font-size: 18px;
}
.single-info-imovel article ul.infos li span{
    margin-top: 10px;
}
.single-info-imovel article ul.infos li.area span {
    flex-flow: row;
    align-items: center;
}
.single-info-imovel article ul.infos li.area span small{
    margin-left: 10px;
}
.single-info-imovel article ul.infos li.area span strong + strong{
    margin-left: 40px;
}
.single-info-imovel article div.info h5{
    margin-bottom: 15px;
}
.single-info-imovel article ul.infos li span strong.hid{
    display: flex;
    flex-flow: wrap;
}
.single-info-imovel article ul.infos li span strong.hid span{
    margin: 0;
    display: inline-block;
}
.single-info-imovel article ul.infos li span strong.hid span + span:before{
    content: '/';
    margin:0 5px;
}

.single-info-imovel article div.info .reg{
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
}
.single-info-imovel article div.info .reg .img{
    width: 176px;
    margin-right: 30px;
    border-radius: 8px;
    overflow: hidden;
}
.single-info-imovel article div.info .reg .img a{
    float: left;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}


.single-info-imovel article div.info .reg .img:hover a{
    transform: scale(1.08) rotate(1deg);
}
.single-info-imovel article div.info .reg .txt{
    width: calc(100% - 206px);
}

.single-info-imovel article div.info .reg .txt a.more{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    color: #94BB4A;
    float: left;
    width: 100%;
    text-align: right;
}
.single-info-imovel article div.info .reg .txt h5{
    border-bottom: 1px solid #C2CF8C;
    padding-bottom: 5px;

    float: left;
}
.single-info-imovel article div.info .reg .txt p{
    float: left;
    width: 100%;
}

.single-info-imovel article div.info.aviso{
    padding-bottom: 0;
    border-bottom: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #272A29;
}


.relacionados_imv{
    padding: 60px 0;
}

.wpuf-form-add{
    padding:25px 30px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.wpuf-form h4 {
    margin: 0 0 30px;
}
.wpuf-form fieldset.wpuf-multistep-fieldset{
    padding: 0 0 100px !important;
}


.wpuf-form-add ul.wpuf-form,
.wpuf-form-add ul.wpuf-form li{
    margin: 0 !important;
    padding: 0 !important;
}

.wpuf-form .wpuf-multistep-progressbar.wizard-steps{
    display: none;
}
.wpuf-form .wpuf-section-wrap {
    margin: 0 !important;
    border:0;
    display: flex;
    flex-flow: column;
    border:0 !important;
}


.wpuf-form .wpuf-section-wrap h2{

    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    border-bottom: 2px solid #AAAAAA;
    color: #94BB4A;
    text-align: left;
    padding: 0 0 15px;
}


.wpuf-form .wpuf-section-wrap .wpuf-section-details{
    padding: 0 !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px !important;
    text-align: left;
    color: #504F46;
    margin: 20px 0 0 0;
}
.wpuf-form .wpuf-el.custom_html_3 + fieldset.wpuf-multistep-fieldset .wpuf-section-wrap{
    flex-flow: row;
    display: flex;
    align-items: center;
    margin-bottom: 10px !important;
}
.wpuf-form .wpuf-el.custom_html_3 + fieldset.wpuf-multistep-fieldset .wpuf-section-wrap .wpuf-section-details,
.wpuf-form .wpuf-el.custom_html_3 + fieldset.wpuf-multistep-fieldset .wpuf-section-wrap h2{
    border:0;
    width: auto;
    padding: 0;
    line-height: 1;
    margin: 0;
}
.wpuf-form .wpuf-el.custom_html_3 + fieldset.wpuf-multistep-fieldset .wpuf-section-wrap h2{
    margin-right: 30px;
}


.wpuf-form .wpuf-el.custom_html_3 + fieldset.wpuf-multistep-fieldset *[data-label="Custom HTML"]{
    border-bottom: 1px solid rgba(96, 95, 84, 0.1);
    padding-bottom: 0px !important;
    margin-bottom: 25px !important;
}


.wpuf-form .wpuf-el.custom_html_3 + fieldset.wpuf-multistep-fieldset .custom_html_copy_copy.wpuf-el[data-label="Custom HTML"]{
    border:0 !important;
    margin-bottom: 0 !important;

}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit],
.wpuf-form button.btn.btn-primary.wpuf-multistep-next-btn{
background: #51723D !important;
border-radius: 4px !important;
border-color: #51723D !important;
color: #fff !important;
font-weight: bold !important;
font-size: 16px !important;
padding: 23px 30px !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit]{
    box-shadow: none !important;
    position: absolute;
    right: 0;
    bottom: 0;
}

.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit]:hover,
.wpuf-form button.btn.btn-primary:hover{

background: transparent !important;
color: #51723D !important;
}
fieldset.wpuf-multistep-fieldset .wpuf-multistep-next-btn {
    right: 0px !important;
}
fieldset.wpuf-multistep-fieldset .wpuf-multistep-prev-btn {
    left: 0px !important;
}

.wpuf-form .wpuf-el.custom_html_3 + fieldset.wpuf-multistep-fieldset button.btn.btn-primary{
    width: 100% !important;
    text-align: center !important;
    justify-content: center;
}
.wpuf-form button.wpuf-multistep-prev-btn.btn.btn-primary{
    border:0 !important;
    padding-left: 0  !important;
    padding-right: 0  !important;
    color: #94BB4A !important;
    text-decoration: underline !important;
    background: transparent !important;
}
.wpuf-form button.wpuf-multistep-prev-btn.btn.btn-primary:hover{
    text-decoration: none !important;
}
ul.wpuf-form.form-label-above li .wpuf-label {
    margin-top: 20px !important;
}
.wpuf-form-add ul.wpuf-form li .wpuf-fields a.file-selector:before{
    display: none !important;
}
.wpuf-form-add ul.wpuf-form li .wpuf-fields a.file-selector{
    text-align: center !important;
    background: #F3F3F3 !important;
    border-radius: 4px !important;
    font-family: Poppins !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    color: #3E413F !important;
    padding: 65px 76px 20px !important;
    border: 0 !important;
    margin: 10px 0 0 0!important;
    white-space: break-spaces;
    border: 1px solid #F3F3F3 !important;
    background-image: url(images/galeria.svg) !important;
    background-position: center 25px !important;
    background-repeat: no-repeat !important;
    line-height: 1.4 !important;
    font-weight: 700 !important;
}
.wpuf-form-add ul.wpuf-form li .wpuf-fields a.file-selector:hover{
    border-color: #51723D !important;
    color: #94BB4A !important;
    background-color: transparent !important;
}


.vc_row #obrigado{
    height: 660px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    flex-flow: column;    
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.vc_row #obrigado h4{
    margin: 20px 0 30px;
}
.vc_row #obrigado a{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-decoration-line: underline;
    color: #94BB4A;
    margin: 20px 0 0 0;
    display: inline-block;
    width: 100%;
}
.vc_row #obrigado a:hover{
    text-decoration: none;
}
ul.checks{
    list-style: none;
    display: block;
    margin:-10px 0 0;
    padding: 0;
}
ul.checks li{
    background: #FFFFFF;
    border-radius: 4px;
    margin-top: 15px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    color: #3E413F;
    background-image: url(images/check-sm.svg);
    background-repeat: no-repeat;
    background-position: 30px center;
    padding: 15px 30px;
    width: 80%;
    line-height: 1.4;
    padding-left: 70px;

}
.sec-imoveis.regiao .filtro-reg{
    margin: 50px 0 0 0;
    display: block;
}
.sec-imoveis.regiao .filtro-reg .searchandfilter > ul {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
}

.sec-imoveis.regiao .filtro-reg .searchandfilter > ul > li {
    width: 280px !important;
    margin-right: 30px !important;
}


ul.regioes-list{
    list-style: none;
    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
ul.regioes-list li{
    width: calc(50% - 15px);
    margin-top: 30px;
}
ul.regioes-list li a .img{
    border-radius: 4px 4px 0px 0px;
    padding-top: 60%;
}
ul.regioes-list li a h4{
    position: absolute;
    color: #FDFFF7;
    z-index: 3;
    bottom: 40px;
    left: 0;
    padding: 0 30px;
}
ul.regioes-list li a .info {
    float: left;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 0 0 4px 4px;
}
ul.regioes-list li a .info p{
    margin: 0;
}
.single-info-regiao{
    background: #f3f3f3;
    padding: 80px 0;
}
.single-info-regiao .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-info-regiao .galeria{
    margin:40px 0;
}
.single-info-regiao .galeria .owl-dots{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    margin: 20px 0 0 0 !important;
}
.single-info-regiao .galeria .owl-dots button{
    background: #504F46 !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 100% !important;
    border:0 !important;
    margin: 0 6px !important;
}
.single-info-regiao .galeria .owl-dots button.active{
    background: #94BB4A !important;
}

.page-contato .wpcf7{
    margin-top: 40px;
}
.page-contato .wpcf7 .wpcf7-submit{
    float: right;
    width: auto;
    padding: 23px 60px;
    margin: 30px 0 0 0;
}

#contato .vc_row #obrigado{
    margin-top: 50px !important;
    min-height: 490px;
}

#contato .vc_row #obrigado .vc_btn3-container > *{
    text-decoration: none !important;
    color: #fff !important;
    background: #51723D !important;
    width: auto !important;
    text-transform: none !important;
    min-width: 0 !important;
}
#contato .vc_row #obrigado .vc_btn3-container > *:hover{
    background: transparent !important;
    color:  #51723D !important;
}
.erro_bg{
    background-image: url(images/404.png);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}
body:not(.home) .erro_bg h3 + h1,
.erro_bg h1{
    color: #fff;
    margin-bottom: 20px;
}
.erro_bg .bottom{
    background: rgba(80,79,70,.6);
    padding:90px 0;
}
.erro_bg .btn{
    padding: 22px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.erro_bg .btn:hover{
    background: rgba(0,0,0,.3);

}
.sec-imoveis.regiao .filtro-reg,
.sec-imoveis.regiao .txt,
.page-cadastro-obrigado .vc_section > * > .wpb_column:nth-child(1),
.page-anunciar-imovel .wpb_column:nth-child(1){
    opacity: 0;
    transform: translateX(-25%);
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
}


.page-cadastro-obrigado .vc_section > * > .wpb_column:nth-child(2),
.page-anunciar-imovel .wpb_column:nth-child(2){
    opacity: 0;
    transform: translateY(-20%);
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
    transition-delay: .6s;
}

.filtro-sec.imv .searchandfilter > ul > li{
    opacity: 0;
    transform: translateY(20%);
    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;    
}

.filtro-sec.imv .searchandfilter > ul > li:nth-child(2){
    transition-delay: .2s;
}
.filtro-sec.imv .searchandfilter > ul > li:nth-child(3){
    transition-delay: .4s;
}
.filtro-sec.imv .searchandfilter > ul > li:nth-child(4){
    transition-delay: .6s;
}
.filtro-sec.imv .searchandfilter > ul > li:nth-child(5){
    transition-delay: .8s;
}
.filtro-sec.imv .searchandfilter > ul > li:nth-child(6){
    transition-delay: 1s;
}
.filtro-sec.imv .searchandfilter > ul > li:nth-child(7){
    transition-delay: 1.2s;
}
.filtro-sec.imv .searchandfilter > ul > li:nth-child(8){
    transition-delay: 1.4s;
}

.sec-imoveis.imv > * > .col-xs-12,
.sec-imoveis.regiao ul.regioes-list{
    opacity: 0;
    transform: translateY(20%);
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
    transition-delay: .8s;
}
.sec-imoveis.imv > * > .col-xs-12{
    transition-delay: 1.8s;
    transform: translateY(5%);
}
.page-obrigado-contato .vc_section > * > .wpb_column,
.page-contato .vc_section > * > .wpb_column {
    transform: translateY(10%);
    opacity: 0;
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
}



.page-cadastro-obrigado.active .vc_section > * > .wpb_column:nth-child(1),
.sec-imoveis.regiao.active .filtro-reg,
.sec-imoveis.regiao.active .txt,
.page-anunciar-imovel.active .wpb_column:nth-child(1){
    opacity: 1;
    transform: translateX(0%);
}
.page-obrigado-contato.active .vc_section > * > .wpb_column,
.page-contato.active .vc_section > * > .wpb_column,
.page-cadastro-obrigado.active .vc_section > * > .wpb_column:nth-child(2),
.filtro-sec.imv.active .searchandfilter > ul > li,
.sec-imoveis.imv.active > * > .col-xs-12,
.sec-imoveis.regiao.active ul.regioes-list,
.page-anunciar-imovel.active .wpb_column:nth-child(2){
    opacity: 1;
    transform: translateY(0%);
}

ul.estados{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    border-right: 1px solid #272A29;
}
ul.estados li{
    width: 20%;
    border: 1px solid #272A29;
    border-top: 0;
    border-right: 0;
}
ul.estados li a{
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 15px;
}
ul.estados li.estado-rn {
    width: 40%;
}
ul.estados li span{
    margin-right: 15px;
}


@media(max-width: 1200px){

    .vc_section > .vc_row,
    .container{
        width: 940px !important;
    }
    .searchandfilter ul li ul li + li {
        margin-left: 10px;
    }
    h1{
        font-size: 48px;
    }
    header nav.main-navigation ul{
        font-size: 14px;
    }
    header a {
        padding: 15px 5px;
    }
    ul.tipos_imovel li a,
    ul.tipos_imovel li a .info {
        height: 300px;
    }
    ul.imoveis-list li .info {
        padding: 15px 24px 24px;
    }
    ul.checks li,
    h4{
        font-size: 20px;
    }
    body:not(.home) h3 + h1, h2{
        font-size: 36px;
    }
    footer .cotacao .cot{
        padding: 0 25px;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(1), 
    .filtro-sec .searchandfilter > ul > li:nth-child(5){
        width: 42%;
    }
    .filtro-sec .searchandfilter > ul > li{
        width: 29%;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(1){
        order: 1;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(2){
        order: 2;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(3){
        order: 3;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(4){
        order: 5;
        width: 40%;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(5){
        order: 4;
        width: 60%;
        border-bottom: 1px solid rgba(96, 95, 84, 0.1);
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(6){
        order: 6;
        width: calc(50% - 110px);
        border-left: 0;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(7){
        order: 7;
        width: calc(50% - 110px);
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(8){
        order: 8;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(9){
        order: 9;
    }
    .single-info-imovel article ul.infos li{
        width: calc(45% - 15px);
    }
    .single-info-imovel article ul.infos li:nth-child(3){
        margin-left: 0;
    }
    .wpuf-form-add ul.wpuf-form li .wpuf-fields a.file-selector {
        padding: 65px 40px 20px !important;
    }

}
.owl-dots{
    width: 100% !important;
    display: flex !important;
    flex-flow: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 0 20px !important;
}
.owl-dots.disabled{
    margin: 0 !important;
}
.owl-dots button{
    margin: 0 4px !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 10px !important;
    background: #878787 !important;
}
.owl-dots button.active{
    background: #FFFFFF !important;
}


ul.imoveis-list .owl-dots{
    margin: 0 !important;
}
ul.imoveis-list .owl-dots button{
    background: #504F46 !important;
    margin: 0 5px !important;
}
ul.imoveis-list .owl-dots button.active{
    background: #94BB4A !important;
}
.single-info-imovel article div.info p,
.single-info-imovel .formulario h4 + p {
    font-family: 'Poppins';
}
.single-info-imovel article div.info p strong{
    font-family: 'Arvo', serif;
}


@media(max-width: 991px){

    .vc_section > .vc_row,
    .container{
        width: 740px !important;
    }
    header nav.main-navigation .menu-toggle{
        display: flex;
    }
    header .col-xs-12{
        position: static;
    }
    header nav.main-navigation ul{
        position: absolute;
        left: 0;
        flex-flow: column;
        background: #FFFFFF;
        box-shadow: 4px 14px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 8px 8px 0;
        top: 0;
        left: 0;
        height: 100vh;
        width: 300px;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px;
        transform: translateX(calc(-100% - 20px));
        z-index: 9999;
        color: #504F46;
        font-size: 20px;
    }
    header nav.main-navigation ul li {
        margin: 0 !important;
        width: 100% !important;
        display: flex;
    }
    header nav.main-navigation.toggled ul{
        transform: translateX(0);
    }
    header nav.main-navigation.toggled .menu-toggle span:before{
        content: 'FECHAR ';
        font-size: 14px;
    }
    header nav.main-navigation ul li#menu-item-23{
        margin-bottom: 10px !important;
    }
    header{
        border:0;
    }
    .banner-topo{
        padding-top: 145px;
        min-height: 0;
        margin-bottom: 230px !important;
    }
    .banner-topo .filtro{
        margin-top: 0;
        margin-bottom: -300px !important;
    }
    section.bg-banner{
        background: #F3F3F3;
    }
    ul.tipos_imovel li a, ul.tipos_imovel li a .info {
        height: 250px;
    }
    ul.tipos_imovel li a .up{
        max-width: 120px;
    }

    ul.imoveis-list > li:nth-child(3n) {
        margin-right: 30px;
    }
    ul.imoveis-list > li:nth-child(2n) {
        margin-right: 0px;
    }

    ul.imoveis-list > li {
        width: calc(50% - 15px);
    }
    .single-info-regiao,
    .miolo-site > * > section.vc_section {
        padding: 60px 0 !important;
    }
    #proposta > * > *{
        width: 100% !important;
    }
    #proposta > * > .vc_col-sm-4{
        margin-bottom: 40px !important;
    }
    footer .cotacao .titulo{
        height: 85px;
    }
    footer .cotacao .titulo h4{
        position: absolute;
        z-index: 9;
        left: 50%;
        transform: translateX(-50%);
    }
    footer .cotacao .titulo:before{
        content: '';
        height: 85px;
        background-color: inherit;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    footer .cotacao .titulo:after{
        content: '';
        left: 50%;
        width: 10px;
        height: 10px;
        left: 50%;
        background-color: inherit;
        transform: translateX(-50%) rotate(45deg);
        bottom: -5px;
        position: absolute;
    }
    footer .cotacao .cot{
        border-left: 0;
    }

    footer .rodape .container > *{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    footer .rodape .container > .contato-miolo{
        margin: 40px 0;
    }
    footer .rodape{
        padding: 40px 0;
    }
    .galeria-single .img{
        padding-top: 75%;
    }

    body:not(.home) h1{
        font-size: 30px;
    }
    .single-info-imovel article div.info ul.infos li:nth-child(2),
    .single-info-imovel article div.info ul.infos li:nth-child(3){
        width: 100%;
        padding-left: 0px;
    }
    .single-info-imovel article div.info ul.infos li:nth-child(2){
        margin-bottom: 20px;
    }
    .single-info-imovel article div.info .reg{
        flex-flow: column;
    }
    .single-info-imovel article div.info .reg .img{
        width: 100%;
        margin-right: 0;
    }
    .single-info-imovel article div.info .reg .txt{
        width: 100%;
        margin-top: 20px;
    }
    body.page-cadastro-obrigado .vc_column_container,
    body.page-anunciar-imovel .vc_column_container{
        width: 100% !important;
    }
    body.page-cadastro-obrigado .vc_column_container:nth-child(2),
    body.page-anunciar-imovel .vc_column_container:nth-child(2){
        margin-top: 60px !important;
    }
    .vc_row #obrigado{
        height: 450px;
    }
    #contato .vc_row #obrigado{
        min-height: 380px;
        height: 380px;
    }
    header nav#site-navigation + a.btn.whatsbtn {
        display: none;
    }


}
.fix-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px 0;
    z-index: 99999999;
    background: #fff;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
    display: none;
}
@media(max-width: 767px){

    .single-info-imovel .formulario,
    .vc_section > .vc_row,
    .container{
        max-width: 470px !important;
        width: 100% !important;
    }
    ul.tipos_imovel li {
        margin-right: 0px;
        width: 100%;
    }
    ul.tipos_imovel li + li{
        margin-top: 30px;
    }
    ul.tipos_imovel li a, ul.tipos_imovel li a .info{
        height: 300px;
    }
    ul.tipos_imovel li a .up {
        max-width: 160px;
    }
    ul.checks li, h4{
        font-size: 18px;
    }
    .relacionados_imv h2 + p, h3 + h2 + p{
        margin-bottom: 30px !important;
    }
    ul.imoveis-list > li{
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    .vc_btn3-container > *{
        min-width: 100% !important;
    }

    .filtro-sec .searchandfilter > ul > li:nth-child(1){
        order: 1;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(2){
        order: 2;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(3){
        order: 3;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(4){
        order: 4;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(5){
        order: 5;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(6){
        order: 6;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(7){
        order: 7;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .filtro-sec .searchandfilter > ul > li:nth-child(8){
        order: 8;
        width: 100% !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
        padding-bottom: 30px !important;
    }

    .single-info-imovel #trigger1{
        margin-top: 0 !important;
    }
    .single-info-imovel .formulario{
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 9999;
        margin-top: 0;
        transform: translate(-50%, -50%);

    }
    .single-info-imovel aside{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.6);
        z-index: 999999999999 !important;
        display: none;
    }

    .fix-btn{
        display: block;
    }
    .single-info-imovel aside.active{
        display: block;
    }
    .single-info-imovel .formulario button.close-btn{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 25px;
        top: 20px;
        background: transparent;
        background: url(images/close.svg);
        background-repeat: no-repeat;
        background-position: center;
        border:0;
        cursor: pointer;
    }


    .galeria-single.desktop-gal{
        display: none;
    }
    .galeria-single.mobile-gal{
        display: flex;
    }


    .galeria-single.mobile-gal ul.owl-galeria{
        list-style: none;
        width: 100% !important;
    }
    .galeria-single ul li{
        width: 100% !important;
    }
    .galeria-single .img {
        padding-top: 100%;
    }



    .galeria-single .owl-dots {
        counter-reset: dots;
    }
    .galeria-single .owl-dots button{
        width: auto !important;
        height: auto !important;
        background: transparent !important;
        border-radius: 0 !important;
        margin: 0 !important;
    }
    .galeria-single .owl-dots button:last-child,
    .galeria-single .owl-dots button.active{
        display: block;
    }
    
    .galeria-single .owl-dot:before {
        counter-increment:dots;
        content: counter(dots);
    }

    .galeria-single .owl-dots button.owl-dot:last-child:before{
        content: ' / ' counter(dots);
        margin-left: 5px;
    }


    .galeria-single .owl-dot:before {
        font-size: 0 !important;
    }

    .galeria-single .owl-dots button.owl-dot:last-child:before,
    .galeria-single .owl-dots button.owl-dot.active:before{
        font-size: 0 !important;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px !important;
        color: #fff !important;
    }
    .galeria-single .owl-dots button.owl-dot.active:last-child:before{
        content: '7 / ' counter(dots);
        margin-left: 5px;
    }
    .galeria-single .owl-dots button.owl-dot.active:before{
        color: #B5C575 !important;
    }
    .galeria-single .owl-dots {
        counter-reset: dots;
        position: absolute;
        right: 30px;
        bottom: 30px;
        margin-bottom: 0 !important;
        justify-content: flex-end !important;
        padding: 8px 15px;
        width: auto !important;
        background: rgba(62, 65, 63, 0.8);
    }
    .relacionados_imv,
    .single-info-imovel article{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .single-info-imovel article ul.infos li {
        width: calc(50% - 15px);
    }

    body.single-imovel footer{
        padding-bottom: 100px;
    }


    .owl-carousel.imoveis-list .owl-stage-outer{
        overflow: visible;
    }

    ul.regioes-list li{
        width: 100%;
    }
    .sec-imoveis.regiao .filtro-reg .searchandfilter > ul > li{
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 15px !important;
    }
    ul.regioes-list{
        margin-top: 0 !important;
    }
    .sec-imoveis,
    .single-info-regiao,
    .miolo-site > * > section.vc_section {
        padding: 40px 0 !important;
    }
    .galeria-single .main-image.full .img {
        padding-top:280px;
    }
    .wpcf7 .col{
        width: 100%;
    }
    .wpcf7 .col + .col {
        margin-left: 0;
        margin-top: 0;
    }
    footer .cotacao .owl-dots {
        margin-top: 15px !important;
    }
    footer .cotacao .owl-dots button {
        margin: 0 8px !important;
    }

    ul.estados li.estado-rn,
    ul.estados li{
        width: 100%;
    }
    ul.estados,
    ul.estados li{
        border:0;
    }
    ul.estados li img{
        width: auto !important;
        height: auto;
    }
    ul.estados li a {
        padding: 15px 0;
        justify-content: center;
    }
    ul.estados li span{
        line-height: 1.2;
    }


}

@media(max-width: 500px){
    header .branding{
        width: 140px;
    }
    .wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit], .btn, footer a.btn, header a.btn {
        padding: 11px 15px;
        font-size: 12px;
    }
    header nav.main-navigation.toggled .menu-toggle span:before{
        font-size: 0;
    }
    header nav.main-navigation ul{
        font-size: 16px;
        width: 220px;
        padding: 20px ;
    }
    h1{
        font-size: 32px;
    }
    .banner-topo .container {
        height: auto;
    }
    .banner-topo {
        padding-top: 110px;
    margin-bottom: 300px !important;
    }
    .banner-topo p{
        font-size: 14px;
        line-height: 1.4;
    }
    .banner-topo .filtro{
        margin-top: 30px;
    }
    .searchandfilter ul li ul li > label {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .searchandfilter ul li ul li > label:before{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .searchandfilter li[data-sf-field-input-type=checkbox] label, .searchandfilter li[data-sf-field-input-type=radio] label, .searchandfilter li[data-sf-field-input-type=range-radio] label, .searchandfilter li[data-sf-field-input-type=range-checkbox] label{
        padding: 10px !important;
    }
    .searchandfilter ul li.sf-field-taxonomy-tipo > ul li {
        width: calc(33.33333333% - 7px);
    }
    .searchandfilter ul li.sf-field-taxonomy-tipo > ul {
        display: flex;
    }
    .banner-topo .filtro {
        padding: 18px 20px;
    }
    .searchandfilter ul li ul li > label:after {
        left: calc(50% - 4px);
        top: 14px;
    }
    .filtro-sec .searchandfilter ul li ul li + li {
        margin-left: 10px;
    }



}
@media(max-width: 500px){
    footer .cotacao .cot {
        padding: 0 15px;
    }
}
@media(max-width: 373px){
    footer .cotacao .cot {
        padding: 0 10px;
    }
}